<!DOCTYPE html>
<html>
  <head>
    <title>UnderloGs</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "layouts/navbar" %>
    <div class="mdc-top-app-bar--fixed-adjust">
      <div class="main-content">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
